1) Section 2.1 Cluster analysis

In [23]:
import pandas as pd 
import seaborn as sns 
import numpy as np 
import matplotlib.pyplot as plt  
from sklearn.cluster import KMeans
%matplotlib  inline

In [24]:
df = pd.read_csv('../data/single_family_home_values.csv') # zillow

In [25]:
df.head(2)

,id,address,city,state,zipcode,latitude,longitude,bedrooms,bathrooms,rooms,squareFootage,lotSize,yearBuilt,lastSaleDate,lastSaleAmount,priorSaleDate,priorSaleAmount,estimated_value
0,39525749,8171 E 84th Ave,Denver,CO,80022,39.84916,-104.893468,3,2.0,6,1378,9968,2003.0,2009-12-17,75000,2004-05-13,165700.0,239753
1,184578398,10556 Wheeling St,Denver,CO,80022,39.88802,-104.830930,2,2.0,6,1653,6970,2004.0,2004-09-23,216935,NaN,NaN,343963

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               15000 non-null  int64
 1   address          15000 non-null  object
 2   city             15000 non-null  object
 3   state            15000 non-null  object
 4   zipcode          15000 non-null  int64
 5   latitude         14985 non-null  float64
 6   longitude        14985 non-null  float64
 7   bedrooms         15000 non-null  int64
 8   bathrooms        15000 non-null  float64
 9   rooms            15000 non-null  int64
 10  squareFootage    15000 non-null  int64
 11  lotSize          15000 non-null  int64
 12  yearBuilt        14999 non-null  float64
 13  lastSaleDate     15000 non-null  object
 14  lastSaleAmount   15000 non-null  int64
 15  priorSaleDate    11173 non-null  object
 16  priorSaleAmount  11287 non-null  float64
 17  estimated_value  15000 non-null  int64
dtypes: float64(5), int64(8), object(5)
memory usage: 2.1+ MB

In [27]:
df.describe()

,id,zipcode,latitude,longitude,bedrooms,bathrooms,rooms,squareFootage,lotSize,yearBuilt,lastSaleAmount,priorSaleAmount,estimated_value
count,1.500000e+04,15000.000000,14985.000000,14985.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.00000,14999.000000,1.500000e+04,1.128700e+04,1.500000e+04
mean,5.176229e+07,80204.919467,39.740538,-104.964076,2.708400,2.195067,6.164133,1514.504400,5820.76620,1929.517168,4.053563e+05,2.594350e+05,6.371625e+05
std,6.190876e+07,9.715263,0.023555,0.039788,0.897231,1.166279,1.958601,830.635999,3013.27947,29.937051,7.756998e+05,3.379387e+05,5.044185e+05
min,1.433670e+05,80022.000000,39.614531,-105.108440,0.000000,0.000000,0.000000,350.000000,278.00000,1874.000000,2.590000e+02,0.000000e+00,1.477670e+05
25%,1.004802e+07,80205.000000,39.727634,-104.978737,2.000000,1.000000,5.000000,986.000000,4620.00000,1907.000000,1.940000e+05,1.100000e+05,3.984348e+05
50%,2.563241e+07,80206.000000,39.748048,-104.957689,3.000000,2.000000,6.000000,1267.500000,5950.00000,1925.000000,3.200000e+05,2.100000e+05,5.183575e+05
75%,5.114222e+07,80207.000000,39.758214,-104.937522,3.000000,3.000000,7.000000,1766.250000,6270.00000,1949.000000,4.632000e+05,3.302400e+05,6.879692e+05
max,3.209481e+08,80209.000000,39.888020,-104.830930,15.000000,12.000000,39.000000,10907.000000,122839.00000,2016.000000,4.560000e+07,1.600000e+07,1.014531e+07

In [28]:
X = df.drop('estimated_value', axis=1)

In [29]:
X = X[["bedrooms", "bathrooms", "rooms", "squareFootage", "lotSize", "yearBuilt", "priorSaleAmount"]]

In [30]:
X.fillna(0, inplace=True)

In [31]:
kmeans = KMeans(n_clusters=5, random_state=0).fit(X)

In [32]:
kmeans

KMeans(n_clusters=5, random_state=0)

In [33]:
len(kmeans.labels_), X.shape

(15000, (15000, 7))

In [34]:
kmeans.cluster_centers_[0]

array([3.31226296e+00, 3.83944374e+00, 8.42730721e+00, 2.69720607e+03,
       6.97174968e+03, 1.94200506e+03, 7.43586930e+05])