In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('data/single_family_home_values.csv')

In [14]:
df.head(2)

,id,address,city,state,zipcode,latitude,longitude,bedrooms,bathrooms,rooms,squareFootage,lotSize,yearBuilt,lastSaleDate,lastSaleAmount,priorSaleDate,priorSaleAmount,estimated_value
0,39525749,8171 E 84th Ave,Denver,CO,80022,39.84916,-104.893468,3,2.0,6,1378,9968,2003.0,2009-12-17,75000,2004-05-13,165700.0,239753
1,184578398,10556 Wheeling St,Denver,CO,80022,39.88802,-104.830930,2,2.0,6,1653,6970,2004.0,2004-09-23,216935,NaN,NaN,343963

In [15]:
df.shape

(15000, 18)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               15000 non-null  int64
 1   address          15000 non-null  object
 2   city             15000 non-null  object
 3   state            15000 non-null  object
 4   zipcode          15000 non-null  int64
 5   latitude         14985 non-null  float64
 6   longitude        14985 non-null  float64
 7   bedrooms         15000 non-null  int64
 8   bathrooms        15000 non-null  float64
 9   rooms            15000 non-null  int64
 10  squareFootage    15000 non-null  int64
 11  lotSize          15000 non-null  int64
 12  yearBuilt        14999 non-null  float64
 13  lastSaleDate     15000 non-null  object
 14  lastSaleAmount   15000 non-null  int64
 15  priorSaleDate    11173 non-null  object
 16  priorSaleAmount  11287 non-null  float64
 17  estimated_value  15000 non-null  int64
dtypes: float64(5), int64(8), object(5)
memory usage: 2.1+ MB